<% include("../layouts/header.ejs") %>

<img src="/userImages/<%= user.image %>" alt="<%= user.image %>" width="150" height="150" />

<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="image" /><br /><br />
    <input type="hidden" name="user_id" value="<%= user._id  %>"/><br /><br />
    <input type="text" name="name" placeholder="Enter Name"  value="<%=  user.name %>" required /><br /><br />
    <input type="email" name="email" placeholder="Enter Email" value="<%= user.email  %>" required /><br /><br />
    <input type="text" name="mno" placeholder="Enter Mobile Number" value="<%= user.mobile  %>" required /><br /><br />
    <input type="submit" name="Update Profile" /><br /><br />
</form>

<% include("../layouts/footer.ejs") %>
